#repoInsert h1{
  font-family: "Noto Sans JP", "Times New Roman";
  margin-top: 1em;
  font-size: 2em;
}

#loadingScreen{
  text-align: center;
}

.loader {
  border: 2em solid #4D4E50; /* MoreBrains Mint */
  border-top: 2em solid #00C4C4; /* MoreBrains Gray */
  border-radius: 50%;
  width: 8em;
  height: 8em;
  animation: spin 4s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#repo{
  display: none;
}

.tabs{
  display: inline-block;
  text-align: center;
  font-family: Lato, Helvetica, sans-serif;
  width: 10em;
  padding-bottom: 0.2em;
  margin: 0 4px 0 0;
  cursor: pointer;
  border-radius: 0 0 0.5em 0.5em;
}

#tabLine{
  width: 100%;
  height: 0.5em;
}

.itemContainer{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
}


.itemBox{
  margin: 1em;
  padding: 1em;
  width: 17em;
  background-color: rgb(240, 240, 240);
}

.thumbBox{
  width: fit-content;
  margin: 0 auto 1em auto;
}

.thumbBox img{
  width: 8em;
}

.itemTitle{
  font-family: "Lato", Helvetica, sans-serif;
  font-weight: bold;
  font-size: 0.8em;
  margin: 0.1em 0.1em 0.3em 0.1em;
  min-height: 3em;
  line-height: 120%;
}

.itemAuthors, .itemDOI, .itemJnlTitle, .itemConfTitle{
  font-family: Lato, Helvetica, sans-serif;
  margin: 0.1em 0.1em 0.2em 0.1em;
  line-height: 120%;
}

a{
  text-decoration: none;
}

.itemTitle a{
  /*color: rgb(75, 71, 193);*/
  color: black;
  /*font-style: italic;*/
}

.itemJnlTitle, .itemConfTitle{
  color: #4D4E50;
  font-size: 0.75em;
  margin: 1em auto;
}

.itemAuthors{
  font-size: 0.75em;
  min-height: 3em;
}

.itemAuthors a{
  font-weight: 400;
  color: #6F882F;
}

.itemDOI{
  color: rgb(75, 71, 193);
  font-size: 0.8em;
}

.itemDOI a{
  font-style: italic;
}

@media only screen
  AND (max-width:935px){
  .itemBox{
    width: 80%;
  }
}

@media only screen
    AND (max-width: 694px){
    #tabLine{
        display: none;
    }
    #tabsRow{
        text-align: center;
    }
    .tabs{
        width: 30%;
        border-radius: 0;
        margin: 0;
    }
    .itemBox{
      width: 100%;
    }
    #repoInsert h1{
      font-size: 1em;
    }
}



@media only screen
    AND (max-width: 493px){
        .tabs{
            font-size: 0.6em;
        }
    }